.CreateAccount {
    text-align: center;
}

.CreateAccount h4 {
    text-align: center;
    color: aqua;
}

.CreateAccount button {
    text-align: center;
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

.CreateAccount button:hover {
    background-color: #2ab84b;
}

.CreateAccount button {
    padding: 15px 30px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .CreateAccount button:hover {
    background-color: #0056b6;
  }
  