body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #333;
}

p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.5;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 1rem;
}

.navbar .logo {
<<<<<<< Updated upstream
  color: rgb(158, 158, 158);
=======
  color: rgb(158, 158, 158); 
>>>>>>> Stashed changes
  font-size: 2rem;
  margin-left: 2rem;

}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 3rem;
}

.nav-links a {
  color: rgb(158, 158, 158);
  text-decoration: none;
}



@media (max-width: 768px) {
  .hero {
    background-size: contain;  /* On smaller screens, adjust image size */
    height: 50vh;  /* Reduce section height */
  }
}


.features {
  padding: 2rem;
  background-color: #000000;
}

.feature-grid {
  display: flex;
  justify-content: space-around;
}

.feature-item {
  flex: 1;
  margin: 1rem;
  padding: 2rem;
  background-color:rgb(158, 158, 158);


  border-radius: 10px;
  box-shadow: 5px 5px 30px -5px rgba(255,255,255,1);
}

.testimonials {
  background-color: #000000;
  padding: 2rem;
}

.testimonial-grid {
  display: flex;
  justify-content: space-around;
}

.testimonial-item {
  
  background-color: rgb(158, 158, 158);
  padding: 2rem;
  border-radius: 10px;
  max-width: 30%;
  box-shadow: 5px 5px 30px -5px rgba(255,255,255,1);
}

.footer {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 2rem;
  text-align: center;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 1rem;
}

.social-links a {
  color: white;
  text-decoration: none;
}
